
.box1{
  width: 100%;
  height: 450px;
  background: url('../img/panel1_img-01.png');
  overflow: hidden;
    background-position: 50% 20%;
    background-size: cover;
}
.box2{
  width: 100%;
  height: 450px;
  background: url('../img/panel2_img-01.png');
  overflow: hidden;
    background-position: 50% 20%;
    background-size: cover;
}
.box3{
  width: 100%;
  height: 450px;
  background: url('../img/panel3_img-01.png');
  overflow: hidden;
    background-position: 50% 20%;
    background-size: cover;
}
.box4{
  width: 100%;
  height: 450px;
  background: url('../img/panel4_img-01.png');
  overflow: hidden;
    background-position: 50% 20%;
    background-size: cover;
}


.cover{
  width: 100%;
  height: 100%;
  background: url('../img/hover_img1-01.png');
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(.99,.99,0,.61);
  padding: 150px 20px;
  color: #fff;
  overflow: hidden;
  text-shadow: 1px 1px 0px #000;
    background-position: 50% 20%;
    background-size: cover;
}
.cover2{
  width: 100%;
  height: 100%;
  background: url('../img/hover_img2-01.png');
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(.99,.99,0,.61);
  padding: 150px 20px;
  color: #fff;
  overflow: hidden;
  text-shadow: 1px 1px 0px #000;
    background-position: 50% 20%;
    background-size: cover;
}
.cover3 { 
  width: 100%;
  height: 100%;
  background: url('../img/hover_img3-01.png');
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(.99,.99,0,.61);
  padding: 150px 20px;
  color: #fff;
  overflow: hidden;
  text-shadow: 1px 1px 0px #000;
  background-position: 50% 20%;
  background-size: cover;
}
.cover4 { 
  width: 100%;
  height: 100%;
  background: url('../img/hover_img4-01.png');
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(.99,.99,0,.61);
  padding: 150px 20px;
  color: #fff;
  overflow: hidden;
  text-shadow: 1px 1px 0px #000;
  background-position: 50% 20%;
  background-size: cover;
}



.box1:hover .top{
  -webkit-transition: all 0.2s cubic-bezier(.99,.99,0,.61);
  -moz-transition: all 0.2s cubic-bezier(.99,.99,0,.61);
  -o-transition: all 0.2s cubic-bezier(.99,.99,0,.61);
   top: 0px;
}
.box2:hover .top{
  -webkit-transition: all 0.2s cubic-bezier(.99,.99,0,.61);
  -moz-transition: all 0.5s cubic-bezier(.99,.99,0,.61);
  -o-transition: all 0.2s cubic-bezier(.99,.99,0,.61);
   top: 0px;
}
.box3:hover .top{
  -webkit-transition: all 0.2s cubic-bezier(.99,.99,0,.61);
  -moz-transition: all 0.2s cubic-bezier(.99,.99,0,.61);
  -o-transition: all 0.2s cubic-bezier(.99,.99,0,.61);
   top: 0px;
}
.box4:hover .top{
  -webkit-transition: all 0.2s cubic-bezier(.99,.99,0,.61);
  -moz-transition: all 0.2s cubic-bezier(.99,.99,0,.61);
  -o-transition: all 0.2s cubic-bezier(.99,.99,0,.61);
   top: 0px;
}

.top{
  top: -500px;
}
