/*====================================*/

/*        -EMIRATES GRAPHIC-          */

/*        emiratesgraphic.com         */

/*====================================*/


button:active {
	outline: none !important;
}
button:focus {
	outline: none !important; 
}

/*===========
  Fonts
============*/

@font-face {
  font-family: 'Copperplate Gothic';
  src: url('../fonts/Copperplate Gothic Light Regular.ttf');
 }

@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic.ttf');
 }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.otf');
 }

.last_section_footer {
	background: url('../img/footer_four_section-01.png');
    background-position: 50% 20%;
    background-size: cover;
}

.text-section {
	padding: 60px 0px;
}

.text-section h1 {
	color: white; 
	font-family: 'Montserrat-Regular';
	font-weight: bold;
	font-size: 40px;
}

.text-section p {
	color: white;
	font-family: 'CenturyGothic';
	font-size: 30px;
}

.buttons {
	padding: 60px 0px;
}
.buttons button{
	width: 100%;
	margin: 10px 0px;
	background-color: #231f20; 
	color: white;
	height: 60px;
	border: none;
	border-radius: 5px;
	font-family: 'CenturyGothic';
	font-weight: bolder;
	transition: ease-in-out all 0.2s;
}

.buttons button:hover {
	background-color:rgba(35, 31, 32, 0.7);
}




/*---------------------------------------------*/

/*                  Responsive                 */

/*---------------------------------------------*/



/*Only in desktop*/
@media only screen and (min-width: 844px) {
    .desktop-d-n {
      display: none;
    }
}

/*Only on Mobile*/
	@media only screen and (max-width: 844px) {
	.mobile-d-n {
	    display: none;
	  }
	.last_section_footer {
		padding: 40px 10px;
	}
	.text-section {
		padding: 10px;
	}
	.text-section p {
		font-size: 20px;
	}
	.buttons {
		padding: 10px 10px;
	}
}